/*
fucsia  #e95694
rosa    #ed8ab7
azul    #0776bb
naranja #f08642
*/

/*******************************************************************/
/* LOGIN PAGE */
/*******************************************************************/

html, body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/landing20_img/loginbackground.jpg');
    background-position: center;
    background-size: cover;
}

.login__box {
    width: 90%;
    background-color: #f7f7f7;
    border-radius: 15px;
    max-width: 550px;
    min-height: 500px;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}